.hero {
  // background: linear-gradient(
  //   180deg,
  //   var(--color-theme-primary) 0%,
  //   var(--color-theme-primary-shade) 100%
  // );
  color: var(--color-theme-primary);
  min-height: 60ex;
  display: flex;
  align-items: center;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(600);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ch;
    @include apply-utility('font', 'serif');
    font-size: get-size(900);
  }
}
