.hero {
  background: linear-gradient(180deg, #a04ad9 0%, #2c2559 100%);
  color: var(--color-theme-highlight);
  min-height: 40vh;
  display: flex;
  align-items: center;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(600);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ch;
    @include apply-utility('font', 'marker');
    font-size: get-size(900);
  }
}
