.hero {
  color: var(--color-text-01);
  padding: var(--s3) 0;

  align-items: center;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(600);
    color: var(--color-text-02);

    a {
      color: currentColor;
    }
  }

  &__heading {
    max-width: 40ch;
    @include apply-utility('font', 'heading');
    font-size: get-size(900);
  }
}
