.intro {
  color: var(--color-text-02);
  --magic-number: 0.09719; /* tan(11°)/2 */
  --content-width: 100vw;
  --skew-padding: calc(var(--content-width) * var(--magic-number));

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(600);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ch;
    @include apply-utility('font', 'heading');
    font-size: get-size(900);

    &--compact {
      max-width: 20ch;
    }
  }

  .intro--hero & {
    @include apply-utility('font', 'heading');
    font-size: get-size(900);
  }
}
