.intro {
  color: var(--color-text-02);

  --split-pair-space: #{get-size(max)};
  --split-pair-break: 43rem;
  --split-pair-align: center;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(600);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ch;
    @include apply-utility('font', 'heading');
    font-size: get-size(900);

    &--compact {
      max-width: 20ch;
    }
  }

  .intro--hero & {
    @include apply-utility('font', 'heading');
    font-size: get-size(900);
  }
}
