.intro {
  color: var(--color-theme-primary);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(600);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ch;
    @include apply-utility('font', 'serif');
    font-size: get-size(900);

    &--compact {
      max-width: 20ch;
    }
  }

  .intro--hero & {
    @include apply-utility('font', 'serif');
    font-size: get-size(900);
  }
}
