.post-list {
  transform: translateY(-30%);

  &__item {
    --flow-space: #{get-size(700)};
  }

  & .inner-wrapper {
    // background-color: var(--color-bg-glare);
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
