.site-foot {
  // Reverse whatever the theme colors are
  // background: var(--color-light-grey);
  color: var(--color-slate);
  border-top: 1px dashed var(--color-stroke);

  a {
    color: currentColor;
  }

  &__credit {
    text-align: center;
  }
}
