.site-head {
  // background-color: var(--color-light-grey);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  border-bottom: 1px dashed var(--color-stroke);
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
  & nav {
    color: var(--color-text);
  }
}
