.split-pair {
  --split-pair-space: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: var(--split-pair-align, stretch);
  margin: calc((var(--split-pair-space) / 2) * -1) 0 0
    calc((var(--split-pair-space) / 2) * -1);

  & > * {
    flex-grow: 1;
    flex-basis: calc(
      (var(--split-pair-break, 48rem) - (100% - var(--split-pair-space))) * 999
    );
    padding: calc(var(--split-pair-space) / 2) 0 0 calc(var(--split-pair-space) / 2);
  }

  @media screen and (min-width: 40rem) {
    .post__intro::after {
      width: 1px;
      right: 0;
      top: calc(var(--split-pair-space) / 4);
      height: 100%;
      color: var(--color-primary);
      background-color: var(--color-primary);
    }
  }

  .post__intro::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    position: absolute;
    top: 100%;
    right: 10%;
    background-color: var(--color-primary);
  }
}
