.taglist {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * + * {
    margin-left: get-size(500);
  }

  &__item {
    padding: 0 get-size(300);
    flex-shrink: 0;
    background-color: var(--color-accent);
    color: var(--color-text-02);

    > a {
      color: var(--color-text-02);
      font-size: 0.8rem;
      @include apply-utility('weight', 'mid');

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}
