<header class="[ hero ] [ pad-top-500 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ hero__heading{{ ' hero__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ heroHeading }}</h1>
    {% if heroSummary %}
      <div class="[ hero__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ heroSummary | safe }}</div>
    {% endif %}
  </div>
</header>
