body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'heading');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}

a:not([class]) {
  color: inherit;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 0.1em;
  transition: all 0.2s ease-in-out;
  padding: 0.1em;

  &:hover {
    background-color: var(--color-accent);
  }
}

kbd {
  padding: 0.2rem;
  font-size: 0.8em;
  border: 2px solid var(--color-accent);
  box-shadow: 1px 1px var(--color-accent), 2px 2px currentColor;
  border-radius: 0.2rem;
}
